.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.xml
docker-compose*.yml
Dockerfile
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vscode
*.md
tests
.phpunit.cache
